@model PortalLayers.BLL.DTO.SongDTO


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
  
    <hr />
    <section id="detaly">
    <div class="picture-container1">   
        <img class="picture" src="@Html.DisplayFor(modelItem =>Model.pic)">
    </div>
    <dl class="row detaly">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.singer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.singer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.runtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.runtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
          

            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dateTime)
            </dd>
            @{
                if (Model.user != null) 
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.user.Login)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.user.Login)
                    </dd>
                }
                else
                {
                    <dt class="col-sm-2">
                        
                    </dt>
                    <dd class="col-sm-10">
                    </dd>
                }
            }

           @*  <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Login)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Login)
            </dd> *@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.genre)
            </dd>

            <dd class = "col-sm-10">
      
            <div class="audio">
                <audio controls src="@Html.DisplayFor(model => model.file)"></audio>
             
            </div></dd>

            
       
    </dl>
</div>
<div id="buttons">
    <a asp-action="Index">Назад</a>
</div>
