@model IEnumerable<PortalLayers.BLL.DTO.SongDTO>


@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="total">

<section id="login">
	 <div class="left">
				

@if (Model != null)
{
	@if (Context.Session.GetString("Id") != null)

	{
		<div>
			<div class="button">
				<a asp-controller="Song" asp-action="Create" id="buttons" style="background:purple" margin-right">Добавить песню</a>
			</div>
			</div>
	}
	else

	{
		<h4>
			Чтобы добавить песню, пожалуйста,</h4>
					<h3>
						<a asp-controller="Account" 
			style="font-size:26px" margin="10px" asp-action="Login" class="grey" style="color:grey font-size:42px text-align:center">войдите</a>
		</h3> <h4>или</h4> <h3>
						<a asp-controller="Account" style="font-size:42p color:grey text-align:center" class="grey" asp-action="Register">зарегистрируйтесь</a>
		</h3>
	}
}


			@if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
			{
				<div class="button">
					<a asp-controller="Song" asp-action="IndexAdmin" id="buttons" style="background:purple">АДМИН</a>
				</div>
				<div class="button">
					<a asp-controller="Genre" id="buttons" style="background:purple" asp-action="Index">ЖАНРЫ</a>
				</div>
			}
</div>

</section>


 <section class="main">

@foreach (var item in Model)

	{
		<div class="song-container">
		<div class="picture-container">
			<a asp-action="Detailes" enctype="multipart/form-data" asp-route-id="@item.Id">
				<img class="picture" src="@Html.DisplayFor(modelItem => item.pic)">
			</a>
		</div>
			<div class="song-details">
				<ul>
					<li>
						<a asp-action="Details" enctype="multipart/form-data" asp-route-id="@item.Id" style="color:black">
							<h4>@Html.DisplayFor(modelItem => item.name)</h4>
						</a>
					</li>
					<li>
						<a asp-action="" asp-route-id="@item.Id" style="color:black">
							<h4>@Html.DisplayFor(modelItem => item.singer)</h4>
						</a>
					</li>
					<li>
						<div class="audio">
							<audio controls src="@Html.DisplayFor(modelItem => item.file)"></audio>
							
						</div>
					</li>
					<li>
						<div>
							
								<p>Длительность: @Html.DisplayFor(modelItem => item.runtime)</p>
						</div>
					</li>
						<li>
							<div>
								
								<p>Жанр: @Html.DisplayFor(modelItem => item.genre)</p>
							</div>
						</li>


				</ul>
				
			
			</div>
				<div class="button-box">
					<div id="buttons">

						<a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
					</div>
				</div>
		</div>
		<hr />
	}
	
</section>

			</ul>
		</div>			
	<hr />
	<hr />
</section>
</section>
<hr />
			












