@model IEnumerable<PortalLayers.BLL.DTO.SongDTO>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-block">
	<h1>Привет, админ</h1>
</div>

@if (Model != null)
{
	@if (Context.Session.GetString("Id") != null)
	{

		<section class="main">
			@foreach (var item in Model)

			{
				<div class="song-container">
					<div class="picture-container">
						<a asp-action="Detailes" enctype="multipart/form-data" asp-route-id="@item.Id">
							<img class="picture" src="@Html.DisplayFor(modelItem => item.pic)">
						</a>
					</div>
					<div class="song-details">
						<ul>
							<li>
								<a asp-action="Details" enctype="multipart/form-data" asp-route-id="@item.Id" style="color:black">
									<h4>@Html.DisplayFor(modelItem => item.name)</h4>
								</a>
							</li>
							<li>
								<a asp-action="" asp-route-id="@item.Id" style="color:black">
									<h4>@Html.DisplayFor(modelItem => item.singer)</h4>
								</a>
							</li>
							<li>
								<div class="audio">
									<audio controls src="@Html.DisplayFor(modelItem => item.file)"></audio>

								</div>
							</li>
							<li>
								<div>

									<p>Длительность: @Html.DisplayFor(modelItem => item.runtime)</p>
								</div>
							</li>
							<li>
								<div>
									@if (ViewBag.GenresList != null)
									{
										<label for="genre">Жанр:</label>
										<select id="genre" name="genre" class="form-control">
											<option value="">Выберите жанр</option>
											@foreach (var genre in ViewBag.GenresList)
											{
												<option value="@genre.Value">@genre.Text</option>
											}
										</select>
									}
								</div>
							</li>




						</ul>

					</div>

					<div class="button-box"></div>
					<ul>
						<li>
							<div id="buttons">

								<a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
							</div>
						<li />
						<li>
							<div id="buttons">

								<a asp-controller="Song" asp-action="Create">Добавить песню</a>
							</div>
						<li />

						<li>
							<div id="buttons">  <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> </div>
						</li>
						<li>
							<div id="buttons">
								<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
							</div>
						</li>


					</ul>

				</div>
				<hr />
			}
		</section>
	}
}







